<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <appender name="jsonEncoder" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="jsonEncoder" />
    </root>
    <root level="DEBUG">
        <appender-ref ref="jsonEncoder" />
    </root>
    <root level="ERROR">
        <appender-ref ref="jsonEncoder" />
    </root>
</Configuration>
